.App {
  text-align: center;
  background-color: #76b9ea; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


.ptc-logo {
  width: 200px;
  height: auto;
  margin-top: 10px;
}


form {
  background-color: #86c1e8;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.list-group-item {
  background-color: #f8f9fa;
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px;
}
